# Laravel & Filament
/vendor/
/node_modules/
/public/storage
/storage/*.key
/.idea/
/.env
/.env.*
/.phpunit.result.cache
/.vscode/

# Filament-specific
/public/build/
/resources/views/vendor/filament

# PHPStorm & IDE-specific
.idea/
*.iml
*.sublime-workspace
*.sublime-project

# Laravel Debugbar
/storage/debugbar

# Composer
composer.phar
composer.lock

# Laravel Homestead
Homestead.yaml
Homestead.json

# Jetstream (if using)
/public/hot
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/public/storage

# Additional files
*.log
*.bak
*.swp
*.swo
.DS_Store